<p>
  About Me! <br>
  <br>
  Self-taught Artist working everyday <br>
  Still learning hoping to fine my own style <br>
  I love my job and fight to keep it that way <br>
  Art is work for me so my hobbies are <br>
  Astrology/singing/writing <br>
  Game of choice League of Legends <br>
  Weapon of choice Bow <br>
  Artistic Muse is Tiger <br>
  Anything that glows rocks <br>
  Tech geek/Cat person/CyberPunk/FreeSpirit <br>
  Blunt but ok with it <br>
  ~Quote~ <br>
  I am too positive to be doubtful. <br>
  Too optimistic to be fearful. <br>
  And too determined to be Defeated. <br>
</p>